/* Import font files */
@font-face {
    font-family: 'HKGroteskRegular';
    src: url('../fonts/fonts/HKGroteskRegular.eot');
    src: url('../fonts/fonts/HKGroteskRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/HKGroteskRegular.woff2') format('woff2'),
         url('../fonts/fonts/HKGroteskRegular.woff') format('woff'),
         url('../fonts/fonts/HKGroteskRegular.ttf') format('truetype'),
         url('../fonts/fonts/HKGroteskRegular.svg#HKGroteskRegular') format('svg');
}

@font-face {
    font-family: 'HKGroteskBold';
    src: url('../fonts/fonts/HKGroteskBold.eot');
    src: url('../fonts/fonts/HKGroteskBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/HKGroteskBold.woff2') format('woff2'),
         url('../fonts/fonts/HKGroteskBold.woff') format('woff'),
         url('../fonts/fonts/HKGroteskBold.ttf') format('truetype'),
         url('../fonts/fonts/HKGroteskBold.svg#HKGroteskBold') format('svg');
}

@font-face {
    font-family: 'HKGroteskItalic';
    src: url('../fonts/fonts/HKGroteskItalic.eot');
    src: url('../fonts/fonts/HKGroteskItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/HKGroteskItalic.woff2') format('woff2'),
         url('../fonts/fonts/HKGroteskItalic.woff') format('woff'),
         url('../fonts/fonts/HKGroteskItalic.ttf') format('truetype'),
         url('../fonts/fonts/HKGroteskItalic.svg#HKGroteskItalic') format('svg');
}

/* Main bootstrap override and flexcard css */

body {
  font-family: 'HKGroteskRegular', sans-serif;
  font-weight: normal;
  background-color: #f3f1e1;
  padding-top: 80px;

}

b, strong {
  font-family: 'HKGroteskBold', sans-serif;
  font-weight: normal;
}

i {
  font-family: 'HKGroteskItalic', sans-serif;
  font-weight: normal;
}

mark {
  background-color: #b8d6d0;
}

.mark-heavy {
  background-color: #FFFF00;
}

.mark-light {
  background: #eeeede;
  border-bottom: 4px solid #FFFF00;
  margin-right: 2px;
  padding: 2px;
}

.bg-faded {
    background-color: #e3e1d1;
}

button, input, optgroup, select, textarea {
    font-family: 'HKGroteskRegular', sans-serif;
}

.tags {
    background: #eeeede;
    margin-right: 2px;
    padding: 2px;
}

/* classes for card grid and gutter */
.col-sm-12, .col-md-6, .col-lg-4, .col-xl-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.card-block {
    margin-bottom: 20px;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Bootstrap primary button override, 'read more' button */

.btn-primary {
  color: #fff;
  background-color: #999;
  border-radius: 0;
  border: 0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #333;
  border: 0;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btn-read-more {
  color: #333;
  background: transparent;
  border-radius: 0;
  border-top: 2px solid #999;
  padding: 0;
  padding-top: 5px;
}

.btn-read-more:hover {
  color: #000;
  background: transparent;
  border-radius: 0;
  border-top: 2px solid #000;
  padding: 0;
  padding-top: 5px;
}

/* Sticky navigation */

@media (max-width: 768px) {

  .mobilepager {
    position: fixed;
    right: 0;
    left: auto;
    bottom: auto;
    top: 50%;
    visibility: visible;
    opacity: 0;
    transition: 2s opacity;
    z-index: 9010;
  }
  
  .btn-mobilepager {
    color: #fff;
    background: rgba(128, 128, 128, 0.7);
    border-radius: 0;
    border: 0;
    width: 60px;
  }

  .indicator {
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(128, 128, 128, 0.7);
    height: auto;
    width: 60px;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }

  #pagerdesktop {
    visibility: hidden;
  }
}

@media (min-width: 769px) {

  #pagerdesktop {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}


/* Bootstrap card override */

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
      -ms-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-direction: normal;
      -ms-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /*background-color: #fff;*/
  background-color: #f3f1e1;
  border: 0;
  border-radius: 0;
}

.card-block {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #fff;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 0;
}

.card-header:first-child {
  border-radius:   0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0  ;
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
  background-color: transparent;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
  background-color: transparent;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
  background-color: transparent;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
  background-color: transparent;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
  background-color: transparent;
}

.card-outline-primary {
  background-color: transparent;
  border-color: #0275d8;
}

.card-outline-secondary {
  background-color: transparent;
  border-color: #ccc;
}

.card-outline-info {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-outline-success {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-outline-warning {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-outline-danger {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: 0;
  width: 100%;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.card-img-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Breakpoints */

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
       -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-direction: normal;
        -ms-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-direction: normal;
        -ms-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
       -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-direction: normal;
        -ms-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-group .card {
    -webkit-box-flex: 1;
        -ms-box-flex: 1;
       -moz-box-flex: 1;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}



@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 4;
       -moz-column-count: 4;
        -ms-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
        -ms-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 575px) {
  .card-columns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
        -ms-column-count: 1;
            column-count: 1;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 992px) and (max-width: 1200) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
        -ms-column-count: 3;
            column-count: 3;
  }
}

@media (min-width: 1201px) {
  .card-columns {
    -webkit-column-count: 4;
       -moz-column-count: 4;
        -ms-column-count: 4;
            column-count: 4;
  }
}

/* Fontello, reduced set of symbols needed from font-awesome */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fonts/fontello.eot?98213004');
  src: url('../fonts/fonts/fontello.eot?98213004#iefix') format('embedded-opentype'),
       url('../fonts/fonts/fontello.woff2?98213004') format('woff2'),
       url('../fonts/fonts/fontello.woff?98213004') format('woff'),
       url('../fonts/fonts/fontello.ttf?98213004') format('truetype'),
       url('../fonts/fonts/fontello.svg?98213004#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98213004#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-left-dir:before { content: '\e805'; } /* '' */
.icon-up-dir:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e807'; } /* '' */
.icon-up-big:before { content: '\e808'; } /* '' */
.icon-right-big:before { content: '\e809'; } /* '' */
.icon-left-big:before { content: '\e80a'; } /* '' */
.icon-down-big:before { content: '\e80b'; } /* '' */
.icon-down-circled2:before { content: '\e80c'; } /* '' */
.icon-up-circled2:before { content: '\e80d'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
