    <div id="sticker" class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ paths.theme }}icons/pager_neg.svg" width="29" height="29">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <div><a class="btn btn-block" href="#">^ top ^</a></div>
            {{ pager('', 3, 'partials/_sub_pager.twig') }}
        </div>
    </div>
