{% include 'partials/_header.twig' %}

  <body>
	  
{% include 'partials/_navbar.twig' %}
    
    {% set vertical = [] %}
    {% set horizontal = [] %}
    
    {# The 5 latest entries, you can change the query to whatever you want  #}
    {% setcontent boxes = 'entries/latest/12' %}
    
    {# get the common ordering #}
	{% for box in boxes %}
	  {% set vertical = vertical|merge([box.id]) %}
	{% endfor %}
    
    {# This is a 4x4 grid, adding rows extends it  #}
    {% set cols = [1,2,3,4] %}
    {% set rows = [1,2,3,4] %}
    
    {% set flipper = [] %}
    
    {% for i in cols %}
      {% for j in rows %}
        {% set flipper = flipper|merge([ (i-(cols|length)+j*(cols|length))-1 ]) %}
      {% endfor %}
    {% endfor %}

	{% for key in flipper|keys %}
      {% set horizontal = horizontal|merge({0: vertical[flipper[key]]|trim}) %}
    {% endfor %} 
	
	<div class="container-fluid">
    
        <div class="row">
			{% set rowstart = 0 %}
			{% set sortorder = 0 %}
			{% for col in cols|keys %}
            <div class="col-3" >
				{% for key in horizontal|keys|slice(rowstart, rows|length) %}
				{% if horizontal[key] != "" %}
			    {% setcontent record = 'entry/%this%'|replace({'%this%': horizontal[key]}) %}
			    <div class="card" data-sort="{flipper[key]}}">
				    <div class="card-block">
					    <h4 class="card-title">{{ record.title }}</h4>
					    <img class="card-img" src="{{ thumbnail(record.image) }}">
					    <p class="card-text">{{ record.teaser }}</p>
					    {{ link(record.link, "Read more") }}
				    </div>
			    </div>
			    <p></p>
			    {% endif %}
			    {% endfor %}
			    {% set rowstart = rowstart+rows|length %}
            </div>
            {% endfor %}
            
        </div>
    </div>
    
		

{% include 'partials/_footer.twig' %}
