{% include 'partials/_header.twig' %}
  <body>
{% include 'partials/_navbar.twig' %}
    
    {# fetching content #}
    {# ---------------- #}
    {% setcontent cards = 'entries/latest/10' allowpaging %}
    
    {# example for mixed content #}
    {#{% setcontent cards = '(pages,entries)' orderby '-datepublish' limit 10 %}#}
    
    {# getting the magic with rows and columns            #}
    {# i.e. 10 entries should give = 3/3/2/2, not 3/3/3/1 #}
    {# -------------------------------------------------- #}
    {% set rows = (cards|length)//4 %}
    {% set d = (cards|length)-(rows*4) %}
    {% set magic = [ [0,rows+(d//d)], [rows+(d//d), rows+(d//2)|round(0,'floor')], [2*rows+(d//1.5|round(0,'ceil'))+(d//d), rows+(d//3|round(0,'floor'))], [(3*rows)+d, rows] ] %}

    {# container #}
    {# --------- #}
    <div class="container-fluid">
        <div class="row">

                {# get the 4 columns #}
                {% for key in magic|keys %}
                    <div id="column-{{key}}" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			        
                    {# push rows in columns #}
                    {% for card in cards|slice(magic[key][0],magic[key][1]) %}
                    {% include 'partials/_card_full.twig' %}
                    {% endfor %}
                
                {# pager desktop #}
                {% if loop.last %}
                    {% if theme.pagerdesktop and cards|length >= theme.listing_records %}
                        {% include 'partials/_pager.twig' %}
                    {% endif %}
                {% endif %}
                    </div>
                {% endfor %}
        </div>
    </div>
    
    {# pager mobile #}
    {% if theme.pagermobile and cards|length >= theme.listing_records %}
        {% include 'partials/_pager_mobile.twig' %}
    {% endif %}

</div>

{% include 'partials/_footer.twig' %}
