{% include 'partials/_header.twig' %}

  <body>
	  
{% include 'partials/_navbar.twig' %}
	  
	<div class="container-fluid">

		<div class="card-columns p-2">
			{% setcontent boxes = 'entries/latest/10' %}
			{% for box in boxes %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ box.title }}</h4>
					<img class="card-img" src="{{ thumbnail(box.image) }}">
					<p class="card-text">{{ box.teaser }}</p>
					{{ link(box.link, "Read more") }}
				</div>
			</div>
			{% endfor %}
		</div>
		
	</div>

{% include 'partials/_footer.twig' %}
